{% extends "base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}

<h1>Dashboard Admin</h1>

<h2>Modifica un trattamento</h2>

{% for t in treatments %}

<div class="treatment-card">

    <h3>{{ t.service_name }}</h3>

    <p>{{ t.duration_min }} min</p>

    <p>{{ t.price }} €</p>

    <p>{{ t.category }}</p>

    <a href="/admin/treatments/edit/{{ t.id }}">
        Modifica
    </a>

    <form
        method="POST"
        action="/admin/treatments/delete/{{ t.id }}"
    >
        <button type="submit">
            Elimina
        </button>
    </form>

</div>

{% endfor %}

{% endblock %}