{% extends "base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}

<div class="title-create">
    <h1>Dashboard Admin</h1>

    <h2>Modifica o elimina un trattamento</h2>
</div>

<div class="flash-messages-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<div class="edit-or-delete-treatment-container">
    {% for t in treatments %}

        <div class="admin-treatment-card">

            <h3>{{ t.service_name }}</h3>
            <p><strong>ID:</strong> {{ t.id }} </p>
            <p><strong>Durata:</strong> {{ t.duration_min }} min</p>
            <p><strong>Prezzo:</strong> {{ t.price }} €</p>
            <p><strong>Categoria:</strong> {{ t.category }}</p>

            <a href="/admin/treatments/edit/{{ t.id }}" class="button-edit">Modifica</a>

            <form method="POST" action="/admin/treatments/delete/{{ t.id }}"
                onsubmit="return confirm('Sei sicuro di voler eliminare questo trattamento? Questa azione è irreversibile.');">
                <button type="submit">
                    Elimina
                </button>
            </form>

        </div>

    {% endfor %}

</div>

<!-- Timeout alert delete treatment -->
<script>
    setTimeout(() => {
        document.querySelectorAll('.alert').forEach(el => {
            el.style.transition = 'opacity 0.5s ease';
            el.style.opacity = '0';
            setTimeout(() => el.remove(), 500);
        });
    }, 4000);
</script>

{% endblock %}