<!DOCTYPE html>
<html lang="IT">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Booking System{% endblock %}</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>

    <header id="app-header">

        <div class="header-container">
            <div class="logo-area">
                <h1 class="logo-text">
                    💈 Barber Booking System
               </h1>
            </div>
            
            <nav class="navbar">
                <a href="/">Home</a>
                <a href="/selection">Prenota un appuntamento</a>
                <a href="/dashboard">Le mie prenotazione</a>
                <a href="/contacts">Contatti</a>
            </nav>
        </div>

    </header>

    <main id="page-container">
        {% block content %}
        {% endblock %}
    </main>

    <footer id="app-footer">
        <p>
            © 2026 Booking System by
            <a class="site-link" 
            href="https://github.com/jacopo-nesti" 
            target="_blank" 
            rel="noopener noreferrer">
                Jacopo
            </a>
        </p>
    </footer>

    </body>
</html>