{% extends "base.html" %}

{% block title %}
Contatti
{% endblock %}

{% block content %}

<div class="contact-container">

    <h1>Contatti</h1>

    <p>Questo è un progetto demo di sistema prenotazioni.</p>
    <br>

    <div class="contact-box">

        <h3>Info</h3>
        <br>
        <ul>
            <li>Email: demo@booking.com</li>
            <li>Telefono: +39 000 000 000</li>
        </ul>

    </div>

    <div class="contact-box">

        <h3>Social</h3>
        <br>
        <p>
            GitHub:
            <a href="https://github.com/jacopo-nesti" target="_blank" rel="noopener noreferrer">
                Profilo
            </a>
        </p>

    </div>

</div>

{% endblock %}