{% extends "base.html" %}

{% block title %}
Contatti
{% endblock %}

{% block content %}

<div class="contact-container">

    <h1>Contatti</h1>

    <div class="contact-box">
        <h3>Informazioni generali</h3>
        <ul>
            <li>🕒 Orario: 09:00 - 13:00 · 14:00 - 18:00</li>
            <li>🚫 Chiuso: Domenica, Lunedì</li>
            <li>📍 Dove siamo: 
                <a href="https://www.google.com/maps" target="_blank">
                    Visualizza su Google Maps
                </a>
            </li>
        </ul>
    </div>

    <div class="contact-box">
        <h3>Contatti</h3>
            <ul>
                <li>📧 Email: <a href="mailto:jacopo.nesti95@gmail.com">jacopo.nesti95@gmail.com</a></li>
                <li>📞 Telefono: <a href="tel:055005">055 005</a></li>
            </ul>
    </div>
    
    <div class="contact-box">
        <h3>Social</h2>
            <div class="social-icons">
                <a href="https://instagram.com" target="_blank" class="social-btn">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="https://facebook.com" target="_blank" class="social-btn">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </div> 
    </div>

</div>

{% endblock %}