{% extends "base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}

<div class="title-create">
    <h1>Dashboard Admin</h1>

    <h2>Inserisci un nuovo trattamento</h2>
</div>

<div class="create-treatment-container">
    <form method="POST">

        <div class="create-treatment-card">
            <p>Scegli il nome del trattamento</p>
            <input
                type="text"
                name="service_name"
                placeholder="Nome trattamento"
                required
            >

            <p>Scegli la durata del trattamento (in minuti)</p>
            <input
                type="number"
                name="duration_min"
                placeholder="Durata"
                required
            >

            <p>Scegli il prezzo del trattamento (in euro)</p>
            <input
                type="number"
                step="0.50"
                name="price"
                placeholder="Prezzo"
                required
            >

            <p>Scegli una categoria del trattamento (Donna, Uomo, Unisex)</p>
            <input
                type="text"
                name="category"
                placeholder="Categoria"
                required
            >

        </div>

        <button class="btn-selection-create" type="submit">
            Salva
        </button>

    </form>
</div>

{% endblock %}