{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="dashboard-container">

    <div class="dashboard-header">
        <h1>Benvenuto {{ user.name }}</h1>
    </div>

    <h2 class="dashboard-title">Le tue prenotazione</h2>

    {% if bookings %}

        <div class="dashboard-grid">
            {% for b in bookings %}
            <div class="dashboard-card">
                    <strong>{{ b.booking_date }} - {{ b.booking_time }}</strong>
                    <strong>Trattamento: {{ b.service_name }}</strong>
                    <div>Interazione selezionata: {{ b.interaction_level }}</div>
            </div>
            {% endfor %}
        </div>
    {% else %}

        <p class="dashboard-empty">Non hai ancora prenotazioni.</p>

    {% endif %}

</div>

{% endblock %}