<h1>Prenota un appuntamento</h1>

<form action="/availability" method="GET">

    <label>Trattamento</label>
    <select name="treatment_id" required>
        {% for t in treatments %}
            <option value="{{ t.id }}">
                {{ t.service_name }} ({{ t.duration_min }} min)
            </option>
        {% endfor %}
    </select>

    <br><br>

    <label>Data</label>
    <input type="date" name="booking_date" required>

    <br><br>

    <button type="submit">
        Cerca disponibilità
    </button>

</form>