{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<h1 class="login-title">Login</h1>

<div class="login-container">
    <form method="POST">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>

        {% if error %}
        <p class="error-message">{{ error }}</p>
        {% endif %}

        <button type="submit">Login</button>

   </form>
</div>

{% endblock %}