{% extends "base.html" %}

{% block title %}
Prenotazione
{% endblock %}

{% block content %}

<h1>Seleziona un trattamento</h1>

<form action="/availability" method="GET">

    <div class="card-container">

        {% for t in treatments %}

        <div class="treatment-card">

            <h3>{{ t.service_name }}</h3>

            <p>Durata: {{ t.duration_min }} min</p>

            <p>Prezzo: {{ t.price }} €</p>

            <span class="category">{{ t.category }}</span>

            <label class="select-btn">
                <input
                type="radio"
                name="treatment_id"
                value="{{ t.id }}"
                required
                >
                Seleziona
            </label>

        </div>
        {% endfor %}

    </div>

    <div class="data-section">
        <label>Seleziona una data</label>
        <input
        type="date"
        name="booking_date"
        required>

        <button class="btn-selection-availability" type="submit">
            Cerca disponibilità
        </button>
    </div>

</form>

{% endblock %}